In [51]:
import pandas as pd
import datetime as dt
import dash
from dash import dcc, html, Input, Output
import tab1
import tab2
import os
import plotly.graph_objects as go

In [52]:
class db:
    def __init__(self):
        self.transactions = db.transactions_init()
        self.cc = pd.read_csv(r'db\country_codes.csv',index_col=0)
        self.customers = pd.read_csv(r'db\customers.csv',index_col=0)
        self.prod_info = pd.read_csv(r'db\prod_cat_info.csv')
    @staticmethod
    def transactions_init():
        transactions = pd.DataFrame()
        src = r'db\transactions'
        dfs = []
        for filename in os.listdir(src):
            path = os.path.join(src, filename)
            df = pd.read_csv(path, index_col=0)
            print(f"{filename}: {df.columns.tolist()}")
            dfs.append(df)
        transactions = pd.concat(dfs)

        print("Połączono:", transactions.shape)

        if 'tran_date' not in transactions.columns:
            raise ValueError("'tran_date' column is missing!")

        def convert_dates(x):
            try:
                return dt.datetime.strptime(x,'%d-%m-%Y')
            except:
                return dt.datetime.strptime(x,'%d/%m/%Y')
                
        transactions['tran_date'] = transactions['tran_date'].apply(lambda x: convert_dates(x))
        return transactions
    def merge(self):
        df = self.transactions.join(self.prod_info.drop_duplicates(subset=['prod_cat_code']).set_index('prod_cat_code')['prod_cat'],on='prod_cat_code',how='left')
        df = df.join(self.prod_info.drop_duplicates(subset=['prod_sub_cat_code']).set_index('prod_sub_cat_code')['prod_subcat'],on='prod_subcat_code',how='left')
        df = df.join(self.customers.join(self.cc,on='country_code').set_index('customer_Id'),on='cust_id')
        self.merged = df

In [53]:
df = db()
df.merge()

transactions-2016.csv: ['transaction_id', 'cust_id', 'tran_date', 'prod_subcat_code', 'prod_cat_code', 'Qty', 'Rate', 'Tax', 'total_amt', 'Store_type']
transactions-2017.csv: ['transaction_id', 'cust_id', 'tran_date', 'prod_subcat_code', 'prod_cat_code', 'Qty', 'Rate', 'Tax', 'total_amt', 'Store_type']
transactions-2018.csv: ['transaction_id', 'cust_id', 'tran_date', 'prod_subcat_code', 'prod_cat_code', 'Qty', 'Rate', 'Tax', 'total_amt', 'Store_type']
transactions-2019.csv: ['transaction_id', 'cust_id', 'tran_date', 'prod_subcat_code', 'prod_cat_code', 'Qty', 'Rate', 'Tax', 'total_amt', 'Store_type']
Połączono: (23053, 10)

In [54]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

In [55]:
app.layout = html.Div([html.Div([dcc.Tabs(id='tabs',value='tab-1',children=[
                            dcc.Tab(label='Sprzedaż globalna',value='tab-1'),
                            dcc.Tab(label='Produkty',value='tab-2')
                            ]),
                            html.Div(id='tabs-content')
                    ],style={'width':'80%','margin':'auto'})],
                    style={'height':'100%'})

In [56]:
@app.callback(Output('tabs-content','children'),[Input('tabs','value')])
def render_content(tab):

    if tab == 'tab-1':
        return tab1.render_tab(df.merged)
    elif tab == 'tab-2':
        return tab2.render_tab(df.merged)

In [57]:
## tab1 callbacks
@app.callback(Output('bar-sales','figure'),
    [Input('sales-range','start_date'),Input('sales-range','end_date')])
def tab1_bar_sales(start_date,end_date):

    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
    grouped = truncated[truncated['total_amt']>0].groupby([pd.Grouper(key='tran_date',freq='M'),'Store_type'])['total_amt'].sum().round(2).unstack()

    traces = []
    for col in grouped.columns:
        traces.append(go.Bar(x=grouped.index,y=grouped[col],name=col,hoverinfo='text',
        hovertext=[f'{y/1e3:.2f}k' for y in grouped[col].values]))

    data = traces
    fig = go.Figure(data=data,layout=go.Layout(title='Przychody',barmode='stack',legend=dict(x=0,y=-0.5)))

    return fig

In [58]:
@app.callback(Output('choropleth-sales','figure'),
            [Input('sales-range','start_date'),Input('sales-range','end_date')])
def tab1_choropleth_sales(start_date,end_date):

    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
    grouped = truncated[truncated['total_amt']>0].groupby('country')['total_amt'].sum().round(2)

    trace0 = go.Choropleth(colorscale='Viridis',reversescale=True,
                            locations=grouped.index,locationmode='country names',
                            z = grouped.values, colorbar=dict(title='Sales'))
    data = [trace0]
    fig = go.Figure(data=data,layout=go.Layout(title='Mapa',geo=dict(showframe=False,projection={'type':'natural earth'})))

    return fig

In [59]:
## tab2 callbacks
@app.callback(Output('barh-prod-subcat','figure'),
            [Input('prod_dropdown','value')])
def tab2_barh_prod_subcat(chosen_cat):

    grouped = df.merged[(df.merged['total_amt']>0)&(df.merged['prod_cat']==chosen_cat)].pivot_table(index='prod_subcat',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)

    traces = []
    for col in ['F','M']:
        traces.append(go.Bar(x=grouped[col],y=grouped.index,orientation='h',name=col))

    data = traces
    fig = go.Figure(data=data,layout=go.Layout(barmode='stack',margin={'t':20,}))
    return fig

In [60]:
if __name__ == '__main__':
    app.run(debug=True, port=8055)

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
Cell In[56], line 5, in render_content(tab='tab-1')
      1 @app.callback(Output('tabs-content','children'),[Input('tabs','value')])
      2 def render_content(tab):
      4     if tab == 'tab-1':
----> 5         return tab1.render_tab(df.merged)
        df.merged =        transaction_id  cust_id  tran_date  prod_subcat_code  prod_cat_code  \
16062     40303022895   272142 2016-12-31                 1              2
16063     47557596721   273764 2016-12-31                 8              3
16064     28966519600   273899 2016-12-31                 5              3
16065     18110335043   270491 2016-12-31                 4              2
16066     35866122984   269792 2016-12-31                 1              2
...               ...      ...        ...               ...            ...
1060      69378805450   273472 2019-01-01                 1              2
1061      63635040022   268886 2019-01-01                 3              2
1062      71241456072   268863 2019-01-01                 3              5
1063      69368153122   273627 2019-01-01                 7              5
1064      96680280518   267832 2019-01-01                 1              4

       Qty  Rate      Tax  total_amt      Store_type     prod_cat  \
16062    5   537  281.925   2966.925  Flagship store     Footwear
16063   -1 -1037  108.885  -1145.885  Flagship store  Electronics
16064    1   308   32.340    340.340          e-Shop  Electronics
16065    1  1343  141.015   1484.015        TeleShop     Footwear
16066    1  1209  126.945   1335.945  Flagship store     Footwear
...    ...   ...      ...        ...             ...          ...
1060     1  1242  130.410   1372.410          e-Shop     Footwear
1061     5   652  342.300   3602.300          e-Shop     Footwear
1062     2   462   97.020   1021.020  Flagship store        Books
1063     3   311   97.965   1030.965        TeleShop        Books
1064     5  1462  767.550   8077.550          e-Shop         Bags

               prod_subcat         DOB Gender  country_code  country
16062                Women  13-10-1988      M           8.0  Denmark
16063  Personal Appliances  13-03-1982      M           8.0  Denmark
16064            Computers  07-10-1992      F           5.0    Italy
16065                 Mens  01-02-1988      M           5.0    Italy
16066                Women  24-11-1979      F          10.0  Finland
...                    ...         ...    ...           ...      ...
1060                 Women  08-03-1983      M           4.0    Spain
1061                  Kids  03-08-1992      M           1.0   Poland
1062                  Kids  08-11-1981      F           3.0   France
1063               Fiction  18-06-1985      M           8.0  Denmark
1064                 Women  04-10-1979      M           9.0  Belgium

[23053 rows x 16 columns]
        df = <__main__.db object at 0x000002574790C320>
      6     elif tab == 'tab-2':
      7         return tab2.render_tab(df.merged)

File D:\Bootcamp\GIT\tab1.py:3, in render_tab(
    df=       transaction_id  cust_id  tran_date  prod_...        9.0  Belgium

[23053 rows x 16 columns]
)
      1 def render_tab(df):
----> 3     layout = html.Div([html.H1('Sprzedaż globalna',style={'text-align':'center'}),
        df =        transaction_id  cust_id  tran_date  prod_subcat_code  prod_cat_code  \
16062     40303022895   272142 2016-12-31                 1              2
16063     47557596721   273764 2016-12-31                 8              3
16064     28966519600   273899 2016-12-31                 5              3
16065     18110335043   270491 2016-12-31                 4              2
16066     35866122984   269792 2016-12-31                 1              2
...               ...      ...        ...               ...            ...
1060      69378805450   273472 2019-01-01                 1              2
1061      63635040022   268886 2019-01-01                 3              2
1062      71241456072   268863 2019-01-01                 3              5
1063      69368153122   273627 2019-01-01                 7              5
1064      96680280518   267832 2019-01-01                 1              4

       Qty  Rate      Tax  total_amt      Store_type     prod_cat  \
16062    5   537  281.925   2966.925  Flagship store     Footwear
16063   -1 -1037  108.885  -1145.885  Flagship store  Electronics
16064    1   308   32.340    340.340          e-Shop  Electronics
16065    1  1343  141.015   1484.015        TeleShop     Footwear
16066    1  1209  126.945   1335.945  Flagship store     Footwear
...    ...   ...      ...        ...             ...          ...
1060     1  1242  130.410   1372.410          e-Shop     Footwear
1061     5   652  342.300   3602.300          e-Shop     Footwear
1062     2   462   97.020   1021.020  Flagship store        Books
1063     3   311   97.965   1030.965        TeleShop        Books
1064     5  1462  767.550   8077.550          e-Shop         Bags

               prod_subcat         DOB Gender  country_code  country
16062                Women  13-10-1988      M           8.0  Denmark
16063  Personal Appliances  13-03-1982      M           8.0  Denmark
16064            Computers  07-10-1992      F           5.0    Italy
16065                 Mens  01-02-1988      M           5.0    Italy
16066                Women  24-11-1979      F          10.0  Finland
...                    ...         ...    ...           ...      ...
1060                 Women  08-03-1983      M           4.0    Spain
1061                  Kids  03-08-1992      M           1.0   Poland
1062                  Kids  08-11-1981      F           3.0   France
1063               Fiction  18-06-1985      M           8.0  Denmark
1064                 Women  04-10-1979      M           9.0  Belgium

[23053 rows x 16 columns]
      4                         html.Div([dcc.DatePickerRange(id='sales-range',
      5                         start_date=df['tran_date'].min(),
      6                         end_date=df['tran_date'].max(),
      7                         display_format='YYYY-MM-DD')],style={'width':'100%','text-align':'center'}),
      8                         html.Div([html.Div([dcc.Graph(id='bar-sales')],style={'width':'50%'}),
      9                         html.Div([dcc.Graph(id='choropleth-sales')],style={'width':'50%'})],style={'display':'flex'})
     10                         ])
     12     return layout

NameError: name 'html' is not defined